.grid-container {
  margin: 50px auto 20px;
}

.grid {
  white-space: pre;
}

button {
  margin: 2px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
